
<div jumbotron>
<div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card text-center">
        <%= image_tag @post.image, size: "300x400", class: "card-img-top" %>
            <h4 class="card-text"><%= @post.title %></h4>
            <p class="card-text"><%= @post.text %></p>
              <%= link_to "トップページ", root_path, method: :get, class: "btn btn-outline-secondary btn-block" %>

            </div>
        </div>
      </div>
  </div>
</div>
